body{
    background-image: linear-gradient(270deg,red,white);
  
}
h1,a{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    position: relative;
    text-shadow: 0 2px 4px rgba(0,0,0,.3);
    font-family: cambria;
    
}
